# ignore all readme files
README*
readme*

# ignore all beatstar versions
com.spaceapegames.beatstar_*.cs

# existing ignores
# for da macs
.DS_Store

# project files
node_modules
raw.txt
protobuf/profile
protobuf/profile.json
protobuf/jsons
printer.ts
output.txt
token
notes.txt
log.txt
